<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>TODO</title>
</head>
<body>
    <header>
        <h1>
                Todo<span>list</span>
        </h1>
        <h2>A simple todo list app built with node</h2>
            </header>
            <form name="name">
            <section class="form">
                <input type="text" id="todoInput" name="name" placeholder="Insert your task here..">
            </section>
        </form>
            <ul class="list">

            </ul>
            <script src="pillzTTP.js"></script>
    <script src="app.js"></script>
</body>
</html>